<h2>Campaign</h2>

<%= form_for @campaign do |form| %>
  <div class='field'>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
  <div class='field'>
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>
  <div class='field'>
    <%= form.label :sources_text %>
    <%= form.text_field :sources_text %>
  </div>
    <div class='field'>
    <%= form.label :petition_type %>
    <%= form.select :petition_type, Campaign::PETITION_TYPES %>
  </div>
  <div class='action'>
    <%= form.submit %>
  </div>
<% end %>
