<!DOCTYPE html>
<html>
  <head>
    <title>Proposy</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <header>
      <div class='home-menu pure-menu pure-menu-horizontal pure-menu-fixed'>
        <%= link_to 'Proposy', root_path, class: 'pure-menu-heading' %>
        <%- if !devise_controller? %>
          <ul class='pure-menu-list'>
            <%- if publisher_signed_in? %>
              <li class='pure-menu-item'>
                <%= link_to 'New campaign', new_campaign_path, class: 'pure-menu-link' %></li>
              <li class='pure-menu-item'><%= link_to 'Logout', destroy_publisher_session_path, method: :delete, class: 'pure-menu-link' %></li>
            <% else %>
              <li class='pure-menu-item'><%= link_to 'Login', new_publisher_session_path, class: 'pure-menu-link' %></li>
              <li class='pure-menu-item'><%= link_to 'Sign up', new_publisher_registration_path, class: 'pure-menu-link' %></li>
            <% end %>
            <li></li>
          </ul>
        <% end %>
      </div>
    </header>

    <%= yield %>

  </body>
</html>
